<div id="sidebar">               
    <h3>Status</h3> 
    <p><%= print_eems_field('status') %></p><br/>
    <h3>Actions</h3> 
    <ul id="acquisitions_actions">
      <li class="list_style_show">
        <%= link_to 'Send to Technical Services',  '#', {:id => 'link_send_to_tech_services'} %> 
        <div class="comment_formlet" id="formlet_send_to_tech_services">
          <textarea id="text_send_to_acquistions" rows="5" cols="28"></textarea>
          <div style="text-align: right; padding-right: 8px;">
            <%= link_to 'Send', '#', :id => 'sent_to_tech_services_ok', :class => 'sidebar_button'%>
            <%= link_to 'Cancel', '#', :id => 'sent_to_tech_services_cancel' %>
          </div>
        </div>    
      </li>    
      <li class="list_style_show">
        <%= link_to 'Delete this selection',  '#', {:id => 'link_delete_this_selection'} %> 
        <div class="comment_formlet" id="formlet_delete_this_selection">
          <textarea id="text_delete_this_selection" rows="5" cols="28"></textarea>
          <div style="text-align: right; padding-right: 8px;">
            <%= link_to 'Confirm', '#', :id => 'delete_this_selection_ok', :class => 'sidebar_button'%>
            <%= link_to 'Cancel', '#', :id => 'delete_this_selection_cancel' %>
          </div>
        </div>    
      </li>    
      <li class="list_style_show">
        <%= link_to 'Question/comment to selector',  '#', {:id => 'link_comment_to_selector'} %> 
        <div class="comment_formlet" id="formlet_comment_to_selector">
          <textarea id="text_comment_to_selector" rows="5" cols="28"></textarea>
          <div style="text-align: right; padding-right: 8px;">
            <%= link_to 'Send', '#', :id => 'comment_to_selector_ok', :class => 'sidebar_button'%>
            <%= link_to 'Cancel', '#', :id => 'comment_to_selector_cancel' %>
          </div>
        </div>    
      </li>    
    </ul>
</div>
<div id="results">
    <h1 class="mainTitle" id="text_title" title="Click to edit"><%= print_eems_field('title') %></h1>      
    <%= text_field_tag "title", print_eems_field('title'), {:size => 30, :class => "mainTitle", :style => "display: none", :id => 'input_title'} %>      
    
    <dl class="details">
      <dt>Id :</dt><dd><%= @eem.pid %></dd>

      <dt>PURL :</dt><dd></dd>
      
      <dt>Found at this site :</dt>
      <dd>
        <%= link_to print_eems_field('sourceUrl'),  print_eems_field('sourceUrl'), {:id => 'link_sourceUrl', :target => '_blank'} %> 
      </dd>
        
      <dt>Language :</dt>
      <dd><%= render :partial => 'eems/select_options', :locals => {:field => 'language', :selected => print_eems_field('language')} %></dd>
      
      <dt>Created by :</dt>
      <dd>
        <div id="text_creatorName" title="Click to edit"><%= get_creator_name() %></div>
        <%= text_field_tag "creatorName", get_creator_name(), {:size => 30, :style => "display: none", :id => 'input_creatorName'} %>
        <%= render :partial => 'eems/select_options', :locals => {:field => 'creatorType', :selected => get_creator_type()} %> 
      </dd>
      
      <dt>Direct link to file :</dt>
      <dd>
        <%= link_to print_url_decoded,  print_parts_field('url'), {:id => 'link_url', :target => '_blank'} %> 
      </dd>
      
      <dt>Local copy of file :</dt>
      <dd>
        <%= link_to get_local_filename(),  get_local_file_path(), {:id => 'link_local_file'} %>               
      </dd>
      
      <dt>Citation/comments :</dt>
      <dd>
        <div id="text_note" title="Click to edit"><%= escape_tags(print_eems_field('note')) %></div>
        <textarea id="input_note" rows="5" cols="50" style="display: none;"><%= print_eems_field('note') %></textarea>
      </dd>      
      
      <dt>Copyright :</dt>
      <dd>
        <%= render :partial => 'eems/select_options', :locals => {:field => 'copyrightStatusDetailPage', :id => 'copyrightStatus', :selected => print_eems_field('copyrightStatus')} %> 
      </dd>
      
      <dt>Purchase :</dt>
      <dd>
        <%= render :partial => 'eems/select_options', :locals => {:field => 'paymentType', :selected => print_eems_field('paymentType')} %>
        <%= render :partial => 'eems/payment_fund' %>     
      </dd>      
    </dl>
    
    <div id="action_log">  
      <h3>Action log</h3>  
    </div>
</div>
