<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= h(@page_title || application_name) %></title>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <%= javascript_tag "window._pid = '#{@eem.pid}'" %>    
    <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.autocomplete', 'common', 'eems_detail' %>
    <%= stylesheet_link_tag 'site', 'jquery.autocomplete', 'eems_detail' %>    
</head>

<body>

    <div id="logo">&nbsp;</div>
    <div id="container_view">
      <%= render :partial => 'eems/user_name_logout' %>
      <div id="resultsBox">
	    <div class="back_to_dashboard">
	      &laquo; <%= link_to "Back to dashboard", "/view" %>
	    </div>          
	    <div style="clear: both;">
        <%= yield %>
        </div> 
      </div>
    </div>
</body>

</html>